

<section class="vh-100" style="background-color:#316bb3;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">


<form [formGroup]="form"  class="m-5">


  <div class="d-flex align-items-center mb-3 pb-1">
    <i class="fas fa-cubes fa-2x me-3" style="color: #316bb3;"></i>
    <span class="h1 fw-bold mb-0">Iniciar Sesión</span>
  </div>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" formControlName="email" 
      [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"
      class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

     

      <div *ngIf="Email?.errors && Email?.touched">
        <p *ngIf="Email?.hasError('required')" class="text-danger">
          El email es requerido
        </p>

        <p *ngIf="Email?.hasError('email')" class="text-danger">
          El formato del email debe ser válido
        </p>
       
      </div>
     
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Constraseña</label>
      <input type="password" formControlName="password"
      [ngClass]="{'is-invalid':Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
      class="form-control" id="exampleInputPassword1">

      <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger">
          La contraseña es requerida
        </p>

        <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
          La contraseña debe tener 8 o más caracteres
        </p>
       
      </div>




    </div>
   
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>



</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>



  <!------------------------------------------------>

  