<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-12 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="100"
    [showUnits] = "false"
    [title] = "'HTML'"
    [titleColor] = "'white'"
    [titleFontSize] = "'3em'"
    [showUnits] = "false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#dee1e4'"
    [innerStrokeColor]="'#dee1e4'"
    [animation]="true"
    [animationDuration]="1000"
  
  
    [imageSrc] ="'../../../assets/html-logo.png'"
    [showImage] ="true"
    [imageHeight] = "100"
    [imageWidth] = "100"
  
    
  
  
    [subtitle] = "'progreso'"
    [subtitleFontSize] = "'1em'"
  ></circle-progress>

  </div>


  <div class="text-center col-sm-12 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [showUnits] = "false"
    [title] = "'HTML'"
    [titleColor] = "'white'"
    [titleFontSize] = "'3em'"
    [showUnits] = "false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#dee1e4'"
    [innerStrokeColor]="'#dee1e4'"
    [animation]="true"
    [animationDuration]="1000"
  
  
    [imageSrc] ="'../../../assets/css-logo.png'"
    [showImage] ="true"
    [imageHeight] = "100"
    [imageWidth] = "100"
  
    
  
  
    [subtitle] = "'progreso'"
    [subtitleFontSize] = "'1em'"
  ></circle-progress>

  </div>

  <div class="text-center col-sm-12 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="100"
    [showUnits] = "false"
    [title] = "'HTML'"
    [titleColor] = "'white'"
    [titleFontSize] = "'3em'"
    [showUnits] = "false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#dee1e4'"
    [innerStrokeColor]="'#dee1e4'"
    [animation]="true"
    [animationDuration]="1000"
  
  
    [imageSrc] ="'../../../assets/js-logo.png'"
    [showImage] ="true"
    [imageHeight] = "100"
    [imageWidth] = "100"
  
    
  
  
    [subtitle] = "'progreso'"
    [subtitleFontSize] = "'1em'"
  ></circle-progress>

  </div>

  <div class="text-center col-sm-12 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="100"
    [showUnits] = "false"
    [title] = "'HTML'"
    [titleColor] = "'white'"
    [titleFontSize] = "'3em'"
    [showUnits] = "false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#dee1e4'"
    [innerStrokeColor]="'#dee1e4'"
    [animation]="true"
    [animationDuration]="1000"
  
  
    [imageSrc] ="'../../../assets/git-logo.png'"
    [showImage] ="true"
    [imageHeight] = "100"
    [imageWidth] = "100"
  
    
  
  
    [subtitle] = "'progreso'"
    [subtitleFontSize] = "'1em'"
  ></circle-progress>

  </div>

  <div class="text-center col-sm-12 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [showUnits] = "false"
    [title] = "'HTML'"
    [titleColor] = "'white'"
    [titleFontSize] = "'3em'"
    [showUnits] = "false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#dee1e4'"
    [innerStrokeColor]="'#dee1e4'"
    [animation]="true"
    [animationDuration]="1000"
  
  
    [imageSrc] ="'../../../assets/english-logo.png'"
    [showImage] ="true"
    [imageHeight] = "100"
    [imageWidth] = "100"
  
    
  
  
    [subtitle] = "'progreso'"
    [subtitleFontSize] = "'1em'"
  ></circle-progress>

  </div>

  <div class="text-center col-sm-12 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [showUnits] = "false"
    [title] = "'HTML'"
    [titleColor] = "'white'"
    [titleFontSize] = "'3em'"
    [showUnits] = "false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#dee1e4'"
    [innerStrokeColor]="'#dee1e4'"
    [animation]="true"
    [animationDuration]="1000"
  
  
    [imageSrc] ="'../../../assets/comunication-logo.png'"
    [showImage] ="true"
    [imageHeight] = "100"
    [imageWidth] = "100"
  
    
  
  
    [subtitle] = "'progreso'"
    [subtitleFontSize] = "'1em'"
  ></circle-progress>

  </div>

   
</div>