<div class="row">
 
    <h2>Eduación</h2>
    
    <div class="col-lg-1"></div>
    
    <div class="col-lg-11">



        <div class="row">


            <div class="col-lg-1">
                <img src="https://i.ibb.co/B6t7z2T/logo-utn-sf.jpg" class="img-fluid" id="logoutn">
            </div>
    
            <div class="col-lg-9">
            <ul>
                <li><h4> Doctor en Ingenieria Mención Industrial </h4> 
                <h5> 2013-2019 </h5></li>
                <p class="text-light">
                    Universidad Tecnológica Nacional. Facultad Regional Santa Fe. 
                   
                    
                </p>
            </ul>
            </div>



        </div>




        <div class="row">


            <div class="col-lg-1">
                <img src="https://i.ibb.co/tm5gNch/utn-parana2.jpg" class="img-fluid" id="logoutn">
            </div>
    
            <div class="col-lg-9">
            <ul>
                <li><h4> Ingeniero Electromecánico </h4> 
                <h5> 2005-2011 </h5></li>
                <p class="text-light">
                    Universidad Tecnológica Nacional Facultad Regional Paraná. 


                    
                </p>
            </ul>
            </div>



        </div>





        <div class="row">


            <div class="col-lg-1">
                <img src="https://i.ibb.co/gjS1ckJ/colegio-don-bosco.jpg" class="img-fluid" id="logoutn">
            </div>
    
            <div class="col-lg-9">
            <ul>
                <li><h4> Bachiller Mercantil </h4> 
                <h5> 1999-2004 </h5></li>
                <p class="text-light">
                    Instituto Dr. Enrique Carbó  D-40 (Obra de Don Bosco), Paraná

                    
                </p>
            </ul>
            </div>



        </div>




       <!--

        <ul>
            <li><h1> Estudio 2 </h1> -
            <h3> (years) </h3></li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus unde fuga doloremque voluptatem deleniti omnis laudantium minus, accusamus quas, eos rem maxime aut similique. Facere veniam vitae nobis repudiandae repellat?
            </p>
        </ul>

        <ul>
            <li><h1> Estudio 3 </h1> -
            <h3> (years) </h3></li>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus unde fuga doloremque voluptatem deleniti omnis laudantium minus, accusamus quas, eos rem maxime aut similique. Facere veniam vitae nobis repudiandae repellat?
            </p>
        </ul>


        -->






    </div>

</div>



